* {
    font-family: --el-font-family;
}

.el-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .el-aside {
        width: 140px;
        height: 100%;
    }

    .el-main {
        padding: 12px;
        /* margin: 8px; */
        transition: var(--el-transition-duration);
        /* overflow-y: hidden; */

        .el-card {
            --el-card-border-radius: 12px;
            /* transition: width 0s; */
        }
    }

    .el-footer {
        --el-footer-padding: 0;
    }
}